<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="test"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="moedaexpandida" color="test"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="dataUsers && dataUsers[username]">{{dataUsers[username].nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataUsers && dataUsers[username] && username">
  <header>
    <img src="./assets/component.png" alt="">
  </header>

  <h1>{{dataUsers[username].nome}}</h1>

  <img id="img" src="./assets/{{dataUsers[username].imagem}}">

  <div class="content">
    <p><span>Localidade:</span> {{dataUsers[username].localidade}}</p>
    <p><span>Na numisma há {{dataUsers[username].years_in_app}} ano(s)</span></p>
    <p><span>Número de anúncios na numisma:</span>  {{dataUsers[username].anuncios_publicados}}</p>
  </div>

</ion-content>
