<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="test"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="moedaexpandida" color="test"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="dataUsers[username]">{{dataUsers[username].nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataUsers[username]">
  <header>
    <img src="./assets/component.png" alt="">
  </header>

  <h1>{{dataUsers[username].nome}}</h1>

  <img id="img" src="./assets/{{dataUsers[username].imagem}}">

  <div class="content">
    <p><span>Localidade:</span> {{dataUsers[username].localidade}}</p>
  </div>

</ion-content>
