<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <header>
    <img src="./assets/component.png" alt="">
  </header>

  <div id="header">
    <h1></h1>
    <img src="./assets/image_numisma.png" class="center"/>
  </div>

  <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.email.errors?.required">
      Email é de preenchimento obrigatório
    </ion-text>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.email.errors?.pattern">
      Email inválido
    </ion-text>


    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.password.errors?.required">
      Palavra-passe é de preenchimento obrigatório
    </ion-text>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.password.errors?.minlength">
      Palavra-passe deverá ter pelo menos 2 caracteres
    </ion-text>

    <ion-row>
      <ion-col>
        <ion-button (click)="submitForm()" id="button" type="submit" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  <ion-button id="registbutton" (click)="registar()" color="test" fill="clear" size="full">Registe-se</ion-button>
  </form>
</ion-content>
