.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ion-content {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #pergunta {
    position: absolute;
    left: 12.8%;
    right: 9.87%;
    top: 89.16%;
    bottom: 8.87%;
  }

}
