<header>
  <img src="./assets/component.png" alt="">
</header>


<ion-content>
  <div id="header">
    <h1></h1>
    <img src="./assets/imgPrincipal.png" class="center"/>
  </div>

  <form id="#form">
    <input type="text" id="email" name="currencyname" placeholder="Email">
    <h2></h2>
    <input type="password" id="password" name="currencyname" placeholder="Password">
    <h2></h2>
    <input type="button" id="login" value="Login">
  </form>
  <h5 id="#registo">Ainda não tem conta Numisma?</h5>
  <input type="button" id="registoButton" value="Registe-se">


</ion-content>


