<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="test"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="infoMoeda">{{infoMoeda.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header>
    <img src="./assets/component.png" alt="">
  </header>

  <!--<img src="./assets/{{infoMoeda.imagem}}"></img>-->
  <!--<ion-accordion-group>
    <ion-accordion>
      <ion-item *ngIf="infoMoeda">
        <img src="./assets/{{infoMoeda.imagem}}"></img>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>-->

</ion-content>
