<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <header>
    <img src="./assets/component.png"/>
  </header>

  <img class="img" src="./assets/image_numisma.png"/>

  <div class="text">
    <h1>Troca e vende as tuas moedas</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Aperiam architecto beatae dolorum hic ipsum nihil quisquam reprehenderit tenetur.
      Ea, maiores obcaecati? Alias expedita fugiat laborum nostrum provident quasi quo rem.
    </h2>
  </div>

  <ion-row>
    <ion-col>
      <ion-button (click)="continuetonumisma()" id="button" type="submit" expand="block">Começar</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
