<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="test"></ion-menu-button>
    </ion-buttons>
    <ion-title>Numisma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <header>
    <img src="./assets/component.png"/>
  </header>

  <div class="text">
    <h1>Fotografe a sua moeda</h1>
    <h2>Passo 2 de 2</h2>
  </div>

  <ion-row>
    <ion-col>
      <ion-button id="button" expand="block"><img src="./assets/arrow.png"></ion-button>
      <ion-button id="cam"><ion-icon name="camera-outline"></ion-icon></ion-button>
    </ion-col>
  </ion-row>

  <div class="text" id="textex">
    <h2>Faça upload das suas fotografias ou <br> fotografe as suas moedas</h2>
  </div>

  <ion-row>
    <ion-col>
      <ion-button id="confirm" type="submit" expand="block">Finalizar</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
