ion-content {

  h1 {
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.3px;
    color: rgba(0, 0, 0, 0.85);
  }

  h2 {
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.79);
  }

}
