<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="test"></ion-menu-button>
    </ion-buttons>
    <ion-title>Numisma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- header with image !-->
  <header>
    <img src="./assets/component.png" alt="">
  </header>
  <ion-item id="search_bar">
    <ion-searchbar placeholder="Pesquisar..." [(ngModel)]="filterTerm" animated="true" ></ion-searchbar>
    <ion-icon id="filters" name="filter-sharp"></ion-icon>
  </ion-item>
  <ion-grid>
    <ion-row *ngFor="let moeda of dataMoedas |filter:filterTerm">
      <ion-card (click)="verDetalherMoeda(moeda)">
        <ion-item>
          <img src="./assets/{{moeda.imagem}}">
          <ion-row id="row_into_card">
            <ion-card-title>{{moeda.nome}}</ion-card-title>
            <ng-container *ngIf="moeda.preco_euros; then price; else type_transaction"></ng-container>
            <ng-template #price>
              <ion-card-subtitle>{{moeda.preco_euros}}€</ion-card-subtitle>
            </ng-template>
            <ng-template #type_transaction>
              <ion-card-subtitle>{{moeda.tipo_transacao}}</ion-card-subtitle>
            </ng-template>
            <ion-card-content>
              <ion-item> <ion-icon name="location-sharp"></ion-icon> {{moeda.localidade}}</ion-item>
              <ion-item> <ion-icon name="person-circle-sharp"></ion-icon> {{moeda.colecionador_nome}} </ion-item>
            </ion-card-content>
          </ion-row>
        </ion-item>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>
