<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="test"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button color="test"></ion-back-button>
    </ion-buttons>
    <ion-title>Numisma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <header>
    <img src="./assets/component.png"/>
  </header>

  <div class="text">
    <h1>Anuncie as suas moedas</h1>
    <h2>Passo 1 de 2</h2>
  </div>

  <form [formGroup]="formcoins" (ngSubmit)="submitForm()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Nome da moeda</ion-label>
      <ion-input type="text" formControlName="namecoin" required=""></ion-input>
    </ion-item>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.namecoin.errors?.required">
      Este campo é obrigatório
    </ion-text>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.namecoin.errors?.minLength">
      Este campo não cumpre os requisitos mínimos (2 caracteres)
    </ion-text>

    <ion-item lines="full">
      <ion-label position="floating">Localização</ion-label>
      <ion-input type="text" formControlName="location" required=""></ion-input>
    </ion-item>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.location.errors?.required">
      Este campo é obrigatório
    </ion-text>

    <ion-item lines="full">
      <ion-label position="floating">Código postal</ion-label>
      <ion-input type="text" formControlName="codpostal" required=""></ion-input>
    </ion-item>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.codpostal.errors?.required">
      Este campo é obrigatório
    </ion-text>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.codpostal.errors?.pattern">
      O código postal não é válido
    </ion-text>

    <ion-item lines="full">
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="number" formControlName="qtd" required=""></ion-input>
    </ion-item>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.qtd.errors?.required">
      Este campo é obrigatório
    </ion-text>

    <ion-item lines="full">
      <ion-label position="floating">Preço de venda</ion-label>
      <ion-input type="number" formControlName="price" required=""></ion-input>
    </ion-item>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.price.errors?.required">
      Este campo é obrigatório
    </ion-text>

    <ion-item lines="full">
      <ion-label position="floating">Valor real</ion-label>
      <ion-input type="number" formControlName="value" required=""></ion-input>
    </ion-item>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.value.errors?.required">
      Este campo é obrigatório
    </ion-text>

    <ion-item lines="full">
      <ion-label>Tipo de Anúncio</ion-label>
      <!-- <ion-select formControlName="typeAd"> !-->
      <ion-select formControlName="type" required="true" okText="Confirmar" cancelText="Cancelar">
        <ion-select-option value="v">Venda</ion-select-option>
        <ion-select-option value="t">Troca</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.type.errors?.required">
      Este campo é obrigatório
    </ion-text>

    <ion-item lines="full">
      <ion-label>Estado de conservação</ion-label>
      <!-- <ion-select formControlName="typeAd"> !-->
      <ion-select formControlName="state" required="true" okText="Confirmar" cancelText="Cancelar">
        <ion-select-option>Novo</ion-select-option>
        <ion-select-option>Com pouco uso</ion-select-option>
        <ion-select-option>Degradado</ion-select-option>
        <ion-select-option>Muito degradado</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text class="ion-padding" color="test" *ngIf="isSubmitted && formControls.state.errors?.required">
      Este campo é obrigatório
    </ion-text>

    <ion-row>
      <ion-col>
        <ion-button (click)="submitForm()" id="button" type="submit" expand="block">Continuar</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
