<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="start" color="test"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content>

    <header>
      <img src="./assets/component.png" alt="">
    </header>

    <div class="text">
      <h1>Registe-se na Numisma</h1>
      <h2>Preencha os campos para se registar</h2>
    </div>

    <form [formGroup]="formRegistar" (ngSubmit)="submitForm()" novalidate>

      <ion-item lines="full">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" formControlName="name" required></ion-input>
      </ion-item>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && formControls.email.errors?.required">
        Nome é de preenchimento obrigatório
      </ion-text>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && formControls.email.errors?.pattern">
        Nome inválido
      </ion-text>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && formControls.email.errors?.required">
        Email é de preenchimento obrigatório
      </ion-text>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && formControls.email.errors?.pattern">
        Email inválido
      </ion-text>


      <ion-item lines="full">
        <ion-label position="floating">Nome de Utilizador</ion-label>
        <ion-input type="email" formControlName="username" required></ion-input>
      </ion-item>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && formControls.email.errors?.required">
        Nome de Utilizador é de preenchimento obrigatório
      </ion-text>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && formControls.email.errors?.pattern">
        Nome de Utilizador inválido
      </ion-text>


      <ion-item lines="full">
        <ion-label position="floating">Palavra Passe</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && formControls.nome.errors?.required">
        Palavra-Passe é de preenchimento obrigatório
      </ion-text>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && formControls.nome.errors?.minlength">
        Palavra-Passe deverá ter pelo menos 2 caracteres
      </ion-text>
      <h1></h1>

      <ion-row>
        <ion-col>
         <!--<ion-button type="submit" color="danger" expand="block">Registar</ion-button> -->
          <ion-button id="button" type="button" expand="block" (click)="registarUser()">Registar</ion-button>
        </ion-col>
      </ion-row>
      <ion-button id="buttonlogin" (click)="voltarLogin()" color="test" fill="clear" size="full">Já tenho conta na Numisma</ion-button>
    </form>
  </ion-content>




