<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="test"></ion-menu-button>
    </ion-buttons>
    <ion-title>Anuncie as suas moedas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- header with image !-->
  <header>
    <img src="./assets/component.png" alt="">
  </header>

  <h2>Passo 1 de 2</h2>

  <!-- form !-->
  <form id="#form">

    <!-- <label for="fname"> Currency name </label>
    <br> !-->
    <input type="text" id="currencyname" name="currencyname" placeholder="Nome da moeda">

    <select id="type" name="type">
      <option value="" disabled selected hidden>Tipo de Anúncio</option>
      <option value="swap">Troca</option>
      <option value="sale">Venda</option>
      <option value="swap_sale">Ambas</option>
    </select>

    <select id="location" name="location">
      <!-- location !-->
      <option value="" disabled selected hidden>Distrito</option>
      <option value="l1">Viana do Castelo</option>
      <option value="l2">Braga</option>
      <option value="l2">Porto</option>
      <option value="l2">Lisboa</option>
    </select>

    <input type="text" id="qtd" name="qtd" placeholder="Quantidade">

    <input type="text" id="price" name="price" placeholder="Preço de venda">

    <input type="text" id="value" name="value" placeholder="Valor real">

    <select id="state" name="state">
      <option value="" disabled selected hidden>Estado de conservação</option>
      <option value="l1">Novo</option>
      <option value="l2">Com pouco uso</option>
      <option value="l2">Degradado</option>
      <option value="l2">Muito degradado</option>
    </select>

    <input type="button" id="continueButton" value="Continuar">

  </form>

</ion-content>
